In [1]:
import sqlparse

In [2]:
import re

In [15]:
sql = "SELECT TOP 10 foo, bar FROM foo LIMIT 4; "
query = sqlparse.parse(sql)
tokens = list(query[0].flatten())
tokens

[<DML 'SELECT' at 0x7F9B8030CCA8>,
 <Whitespace ' ' at 0x7F9B80308408>,
 <Name 'TOP' at 0x7F9B803083A8>,
 <Whitespace ' ' at 0x7F9B803082E8>,
 <Integer '10' at 0x7F9B80308288>,
 <Whitespace ' ' at 0x7F9B80308348>,
 <Name 'foo' at 0x7F9B80308468>,
 <Punctuation ',' at 0x7F9B80308588>,
 <Whitespace ' ' at 0x7F9B803085E8>,
 <Name 'bar' at 0x7F9B80308648>,
 <Whitespace ' ' at 0x7F9B803086A8>,
 <Keyword 'FROM' at 0x7F9B80308708>,
 <Whitespace ' ' at 0x7F9B80308768>,
 <Name 'foo' at 0x7F9B803087C8>,
 <Whitespace ' ' at 0x7F9B80308828>,
 <Keyword 'LIMIT' at 0x7F9B80308888>,
 <Whitespace ' ' at 0x7F9B803088E8>,
 <Integer '4' at 0x7F9B80308948>,
 <Punctuation ';' at 0x7F9B803089A8>,
 <Whitespace ' ' at 0x7F9B80308A08>]

In [18]:
tokens[-3].ttype

Token.Literal.Number.Integer

In [47]:
st = ''.join(repr(token)[1] for token in tokens)
st

'DWNWIWNPWNWKWNWKWIPW'

In [32]:
match = re.search(r"KW+I[P]?W*$", st)

In [34]:
match

In [42]:
match2 = re.search(r"KW+(?=I)", match.group(0))

In [49]:
st[match2.span()[1] + match.span()[0]]

'I'

In [50]:
tokens.insert(len(tokens)-2, sqlparse.sql.Token(sqlparse.tokens.Keyword, "OFFSET"))

In [51]:
tokens

[<DML 'SELECT' at 0x7F9B8030CCA8>,
 <Whitespace ' ' at 0x7F9B80308408>,
 <Name 'TOP' at 0x7F9B803083A8>,
 <Whitespace ' ' at 0x7F9B803082E8>,
 <Integer '10' at 0x7F9B80308288>,
 <Whitespace ' ' at 0x7F9B80308348>,
 <Name 'foo' at 0x7F9B80308468>,
 <Punctuation ',' at 0x7F9B80308588>,
 <Whitespace ' ' at 0x7F9B803085E8>,
 <Name 'bar' at 0x7F9B80308648>,
 <Whitespace ' ' at 0x7F9B803086A8>,
 <Keyword 'FROM' at 0x7F9B80308708>,
 <Whitespace ' ' at 0x7F9B80308768>,
 <Name 'foo' at 0x7F9B803087C8>,
 <Whitespace ' ' at 0x7F9B80308828>,
 <Keyword 'LIMIT' at 0x7F9B80308888>,
 <Whitespace ' ' at 0x7F9B803088E8>,
 <Integer '4' at 0x7F9B80308948>,
 <Keyword 'OFFSET' at 0x7F9B80308E88>,
 <Punctuation ';' at 0x7F9B803089A8>,
 <Whitespace ' ' at 0x7F9B80308A08>]

In [54]:
tokens.insert(len(tokens)-4, sqlparse.sql.Token(sqlparse.tokens.Whitespace, " "))

In [55]:
tokens

[<DML 'SELECT' at 0x7F9B8030CCA8>,
 <Whitespace ' ' at 0x7F9B80308408>,
 <Name 'TOP' at 0x7F9B803083A8>,
 <Whitespace ' ' at 0x7F9B803082E8>,
 <Integer '10' at 0x7F9B80308288>,
 <Whitespace ' ' at 0x7F9B80308348>,
 <Name 'foo' at 0x7F9B80308468>,
 <Punctuation ',' at 0x7F9B80308588>,
 <Whitespace ' ' at 0x7F9B803085E8>,
 <Name 'bar' at 0x7F9B80308648>,
 <Whitespace ' ' at 0x7F9B803086A8>,
 <Keyword 'FROM' at 0x7F9B80308708>,
 <Whitespace ' ' at 0x7F9B80308768>,
 <Name 'foo' at 0x7F9B803087C8>,
 <Whitespace ' ' at 0x7F9B80308828>,
 <Keyword 'LIMIT' at 0x7F9B80308888>,
 <Whitespace ' ' at 0x7F9B803088E8>,
 <Integer '4' at 0x7F9B80308948>,
 <Whitespace ' ' at 0x7F9B8030CBE8>,
 <Keyword 'OFFSET' at 0x7F9B80308E88>,
 <Whitespace ' ' at 0x7F9B8030CA68>,
 <Punctuation ';' at 0x7F9B803089A8>,
 <Whitespace ' ' at 0x7F9B80308A08>]

In [56]:
tokens.insert(len(tokens)-2, sqlparse.sql.Token(sqlparse.tokens.Literal.Number.Integer, "10"))

In [57]:
tokens

[<DML 'SELECT' at 0x7F9B8030CCA8>,
 <Whitespace ' ' at 0x7F9B80308408>,
 <Name 'TOP' at 0x7F9B803083A8>,
 <Whitespace ' ' at 0x7F9B803082E8>,
 <Integer '10' at 0x7F9B80308288>,
 <Whitespace ' ' at 0x7F9B80308348>,
 <Name 'foo' at 0x7F9B80308468>,
 <Punctuation ',' at 0x7F9B80308588>,
 <Whitespace ' ' at 0x7F9B803085E8>,
 <Name 'bar' at 0x7F9B80308648>,
 <Whitespace ' ' at 0x7F9B803086A8>,
 <Keyword 'FROM' at 0x7F9B80308708>,
 <Whitespace ' ' at 0x7F9B80308768>,
 <Name 'foo' at 0x7F9B803087C8>,
 <Whitespace ' ' at 0x7F9B80308828>,
 <Keyword 'LIMIT' at 0x7F9B80308888>,
 <Whitespace ' ' at 0x7F9B803088E8>,
 <Integer '4' at 0x7F9B80308948>,
 <Whitespace ' ' at 0x7F9B8030CBE8>,
 <Keyword 'OFFSET' at 0x7F9B80308E88>,
 <Whitespace ' ' at 0x7F9B8030CA68>,
 <Integer '10' at 0x7F9B8030CB88>,
 <Punctuation ';' at 0x7F9B803089A8>,
 <Whitespace ' ' at 0x7F9B80308A08>]

In [58]:
str(sqlparse.sql.TokenList(tokens))

'SELECT TOP 10 foo, bar FROM foo LIMIT 4 OFFSET 10; '