In [1]:
import sqlparse

In [2]:
import re

In [12]:
sql = "SELECT TOP 10 foo, bar FROM foo LIMIT 4; "
query = sqlparse.parse(sql)
tokens = list(flatten(query[0]))
tokens

[<DML 'SELECT' at 0x7F9B8030AAC8>,
 <Whitespace ' ' at 0x7F9B8030AA08>,
 <Identifier 'TOP' at 0x7F9B8030E048>,
 <Whitespace ' ' at 0x7F9B8030AA68>,
 <IdentifierList '10 foo...' at 0x7F9B8030E2A0>,
 <Whitespace ' ' at 0x7F9B8030AE28>,
 <Keyword 'FROM' at 0x7F9B8030AE88>,
 <Whitespace ' ' at 0x7F9B8030AEE8>,
 <Identifier 'foo' at 0x7F9B8030E1B0>,
 <Whitespace ' ' at 0x7F9B8030AFA8>,
 <Keyword 'LIMIT' at 0x7F9B8030C048>,
 <Whitespace ' ' at 0x7F9B8030C0A8>,
 <Integer '4' at 0x7F9B8030C108>,
 <Punctuation ';' at 0x7F9B8030C168>,
 <Whitespace ' ' at 0x7F9B8030C1C8>]